<section class="summary">
  <p>
    <strong>Meet Relaton:</strong>
    a unified bibliographic structure and implementations for all major
    standards&nbsp;development&nbsp;organizations.
  </p>
</section>

<section class="flavors switchable-flavors">
  <h2 class="title">Get started <strong>citing standards using Relaton</strong>:</h2>
  <div class="items">
    <!-- <ul class="supported-bibliographies"> -->
      {% for bib in site.relaton.supported_bibliographies %}
      <!-- <li> -->
        {% if bib.citation_guide == true %}
        {% assign flavor_link = "/guides/" | append: bib.id %}
        {% else %}
        {% assign flavor_link = "/software/" | append: bib.gem %}
        {% endif %}
        <a href="{{ flavor_link }}"
          {% if bib.experimental %}class="experimental"{% endif %}
          {% if bib.description %}title="{{ bib.description }}"{% endif %}>
        <article class="fl">
          <header>{{ bib.label }}</header>
        </article>
      </a>
      <!-- </li> -->
    {% endfor %}
    <!-- </ul> -->

  </div>
</section>
