{% assign contact_link = "mailto:" | append: site.contact_email %}

<div class="search-widget">
  <input type="search" id="siteSearchInput" placeholder="Type to search…">
</div>

{% include nav-page-link.html htmlclass="blog" url="/blog/" title="Blog" active_for_nested=true %}

{% include nav-page-link.html htmlclass="cite" url="/cite/" title="Cite" active_for_nested=true %}

{% include nav-page-link.html htmlclass="software" url="/software/" title="Software" active_for_nested=true %}

{% include nav-page-link.html htmlclass="specs" url="/specs/" title="Specifications" active_for_nested=true %}

{% include nav-page-link.html htmlclass="contribute" url="/api/" title="Relaton API" active_for_nested=true %}

{% include project-nav.html %}

<a href="javascript: void 0;" class="search" aria-label="site search button"><i class="fas fa-search"></i></a>
