---
layout: docs-base
html-class: docs-page
docs_title: Citation guides

navigation:
  base_url: /guides
  items:

  - title: 3GPP
    path: /3gpp/
  - title: BIPM
    path: /bipm/
  - title: British Standards Institution (BSI)
    path: /bsi/
  - title: CCSDS
    path: /ccsds/
  - title: CEN/CENELEC
    path: /cen/
  - title: CIE
    path: /cie/
  - title: CalConnect
    path: /calconnect/
  - title: Chinese standards (GB)
    path: /gb/
  - title: Digital Object Identifiers (DOI)
    path: /doi/
  - title: Ecma International
    path: /ecma/
  - title: IANA
    path: /iana/
  - title: IEC
    path: /iec/
  - title: IEEE Standards Association
    path: /ieee/
  - title: IETF
    path: /ietf/
  - title: IHO
    path: /iho/
  - title: ISBN identifiers
    path: /isbn/
  - title: ISO
    path: /iso/
  - title: ITU
    path: /itu/
  - title: JIS
    path: /jis/
  - title: NIST
    path: /nist/
  - title: OASIS
    path: /oasis/
  - title: OGC
    path: /ogc/
  - title: OMG
    path: /omg/
  - title: UN
    path: /un/
  - title: W3C
    path: /w3c/
  - title: XSF
    path: /xsf/
  - title: MLIT PLATEAU
    path: /plateau/
---

{{ content }}
