---
layout: docs-base
html-class: docs-page
docs_title: Citation guides

navigation:
  base_url: /guides
  items:

  - title: Cite publications from supported organizations
    items:

    - title: 3GPP
      path: /3gpp/
      items:
      - title: General
        path: /3gpp/#general
      - title: Types of 3GPP documents
        path: /3gpp/#types-of-3gpp-documents
      - title: Specification number
        path: /3gpp/#specification-number

    - title: BIPM
      path: /bipm/
      items:
      - title: SI Brochure
        path: /bipm/#si-brochure
      - title: Metrologia
        path: /bipm/#metrologia
      - title: Outcomes
        path: /bipm/#outcomes
        items:
        - title: Basic pattern
          path: /bipm/#basic-pattern
        - title: Special case pattern
          path: /bipm/#special-case-pattern
        - title: Single language version (English)
          path: /bipm/#single-language-version-english
        - title: Single language version (French)
          path: /bipm/#single-language-version-french
        - title: Dual language version (language independent version)
          path: /bipm/#dual-language-version-language-independent-version

    - title: British Standards Institution (BSI)
      path: /bsi/
      items:
      - title: British Standards
        path: /bsi/#british-standards
        items:
        - title: General
          path: /bsi/#general
        - title: Adoptions
          path: /bsi/#adoptions
      - title: Published Documents
        path: /bsi/#published-documents
        items:
        - title: General
          path: /bsi/#general-2
        - title: Adoptions
          path: /bsi/#adoptions-2
      - title: Publicly Available Specifications
        path: /bsi/#publicly-available-specifications
      - title: Flex
        path: /bsi/#flex
      - title: Amendments
        path: /bsi/#amendments
      - title: Expert Commentary
        path: /bsi/#expert-commentary

    - title: CCSDS
      path: /ccsds/
      items:
      - title: Prefix
        path: /ccsds/#prefix
      - title: Books
        path: /ccsds/#books

    - title: CEN/CENELEC
      path: /cen/
      items:
      - title: Prefixes
        path: /cen/#prefixes
      - title: Copublishers
        path: /cen/#copublishers
      - title: Types
        path: /cen/#types

    - title: CIE
      path: /cie/
      items:
      - title: Prefix
        path: /cie/#prefix
      - title: Copublishers
        path: /cie/#copublishers

    - title: CalConnect
      path: /calconnect/
      items:
      - title: Prefix
        path: /calconnect/#prefix
      - title: Copublishers
        path: /calconnect/#copublishers
      - title: Types
        path: /calconnect/#types
      - title: Stages
        path: /calconnect/#stages

    - title: Chinese standards (GB etc.)
      path: /gb/

    - title: Digital Object Identifiers (DOI)
      path: /doi/

    - title: Ecma International
      path: /ecma/
      items:
      - title: Standards
        path: /ecma/#standards
      - title: Technical Reports
        path: /ecma/#technical-reports
      - title: Mementos
        path: /ecma/#mementos

    - title: IANA
      path: /iana/

    - title: IEC
      path: /iec/
      items:
      - title: Prefixes
        path: /iec/#prefixes
      - title: Types
        path: /iec/#types
      - title: Parts
        path: /iec/#parts
      - title: Year
        path: /iec/#year

    - title: IEEE-SA
      path: /ieee/
      items:
      - title: Prefixes
        path: /ieee/#prefixes
      - title: Copublishers
        path: /ieee/#copublishers
      - title: Status
        path: /ieee/#status

    - title: IETF
      path: /ietf/

    - title: IHO
      path: /iho/
      items:
      - title: Prefix
        path: /iho/#prefix
      - title: Edition
        path: /iho/#edition
      - title: Volume
        path: /iho/#volume
      - title: Annex
        path: /iho/#annex

    - title: ISBN
      path: /isbn/
      items:
      - title: Prefix
        path: /isbn/#prefix
      - title: Number format
        path: /isbn/#number-format

    - title: ISO
      path: /iso/
      items:
      - title: General
        path: /iso/#general
      - title: Dated and undated references
        path: /iso/#dated-and-undated-references
      - title: Co-published standards
        path: /iso/#co-published-standards
      - title: Stages
        path: /iso/#stages
      - title: Types
        path: /iso/#types
      - title: Amendments and corrigenda
        path: /iso/#amendments-and-corrigenda
      - title: Parts
        path: /iso/#parts

    - title: ITU
      path: /itu/
      items:
      - title: ITU-T
        path: /itu/#itu-t
      - title: ITU-R
        path: /itu/#itu-r
      - title: ITU-D
        path: /itu/#itu-d

    - title: JIS
      path: /jis/
      items:
      - title: Prefix
        path: /jis/#prefix
      - title: Dated and undated references
        path: /jis/#dated-and-undated-references
      - title: Part
        path: /jis/#part

    - title: NIST
      path: /nist/
      items:
      - title: Prefixes
        path: /nist/#prefixes
      - title: Types
        path: /nist/#types

    - title: OASIS
      path: /oasis/

    - title: OGC
      path: /ogc/
      items:
      - title: Prefix
        path: /ogc/#prefix
      - title: Edition
        path: /ogc/#edition

    - title: OMG
      path: /omg/
      items:
      - title: Prefix
        path: /omg/#prefix
      - title: Version
        path: /omg/#version

    - title: UN
      path: /un/

    - title: W3C
      path: /w3c/
      items:
      - title: Stages
        path: /w3c/#stages
      - title: Type
        path: /w3c/#type
      - title: Year
        path: /w3c/#year
      - title: Dates
        path: /w3c/#dates
      - title: Suffix
        path: /w3c/#suffix

    - title: XSF
      path: /xsf/

---

<article>
  {{ content }}
</article>
