---
layout: docs-base
html-class: docs-page
docs_title: Information models

navigation:
  base_url: /model
  items:

  - title: Additional Information
    path: /additional-info/
  - title: Bibitem Type
    path: /bibtype/
  - title: Citation Model
    path: /citation/
  - title: Creator
    path: /creator/
  - title: Edition
    path: /edition/
  - title: Identifiers
    path: /identifiers/
  - title: Locations
    path: /location/
  - title: Medium
    path: /medium/
  - title: Numeration and Pagination
    path: /numeration/
  - title: Production
    path: /production/
  - title: Relations
    path: /relations/
  - title: Series
    path: /series/
  - title: Specific categories
    path: /specific-cats/
  - title: Title
    path: /title/
---

{{ content }}
