---
layout: docs-base
html-class: docs-page
docs_title: Relaton information models

navigation:
  base_url: /model
  items:

  - items:

    - title: Additional Information
      path: /additional-info/
      items:
      - title: Classification
        path: /additional-info/#classification
      - title: Keywords
        path: /additional-info/#keywords
      - title: Price and availability
        path: /additional-info/#price-and-availability
      - title: License
        path: /additional-info/#license
      - title: Provenance and authenticity
        path: /additional-info/#provenance-and-authenticity

    - title: Bibitem Type
      path: /bibtype/
      items:
      - title: Categories of information resource
        path: /bibtype/#categories-of-information-resource

    - title: Citation Model
      path: /citation/
      items:
      - title: Discontinuous citations
        path: /citation/#discontinuous-citations

    - title: Creator
      path: /creator/
      items:
      - title: General
        path: /creator/#general
      - title: Role
        path: /creator/#role
      - title: Selection
        path: /creator/#creator-selection
      - title: Derivative works
        path: /creator/#derivative-works
      - title: Sponsoring organisations
        path: /creator/#sponsoring-organisations
      - title: Examples
        path: /creator/#examples
      - title: Personal names
        path: /creator/#personal-names
      - title: Organisations
        path: /creator/#organisation
      - title: Pseudonyms and Variant Names
        path: /creator/#variantnames
      - title: Anonymous and Varii
        path: /creator/#anonymous-and-varii

    - title: Edition
      path: /edition/

    - title: Identifiers
      path: /identifiers/

    - title: Locations
      path: /location/

    - title: Medium
      path: /medium/

    - title: Numeration and Pagination
      path: /numeration/

    - title: Production
      path: /production/
      items:
      - title: General
        path: /production/#general
      - title: Place
        path: /production/#place
      - title: Publisher
        path: /production/#publisher
      - title: Date
        path: /production/#date
        items:
        - title: Bibliographic date types
          path: /production/#datetypes
          items:
          - title: Common dates
            path: /production/#common-dates
          - title: Dates pertaining to standards
            path: /production/#dates-pertaining-to-standards

    - title: Relations
      path: /relations/
      items:
      - title: General
        path: /relations/#general
      - title: Relation types
        path: /relations/#relation-types
        items:
        - title: Part-Whole relations
          path: /relations/#part-whole-relations
        - title: FRBR Level relations
          path: /relations/#frbr-level-relations
          items:
          - title: Revision relations
            path: /relations/#revision-relations
        - title: Derived relations
          path: /relations/#derived-relations
        - title: Other relations
          path: /relations/#other-relations
        - title: Comparison with other bibliographic relations lists
          path: /relations/#comparison-with-other-bibliographic-relations-lists
      - title: Localities
        path: /relations/#localities
      - title: Host item
        path: /relations/#host-item
      - title: Translation
        path: /relations/#translation

    - title: Series
      path: /series/
      items:
      - title: General
        path: /series/#general
      - title: Journals
        path: /series/#journals
      - title: Standards
        path: /series/#standards
      - title: Archival materials
        path: /series/#archival-materials
      - title: Qualifiers
        path: /series/#qualifiers
      - title: Earlier and later titles
        path: /series/#earlier-and-later-titles
      - title: Series runs
        path: /series/#series-runs

    - title: Specific categories
      path: /specific-cats/
      items:
      - title: Electronic information resources
        path: /specific-cats/#electronic-information-resources
      - title: Cartographic material
        path: /specific-cats/#cartographic-material
      - title: Films, videos and broadcasts
        path: /specific-cats/#films-videos-and-broadcasts
      - title: Graphic Works
        path: /specific-cats/#graphic-works
      - title: Music
        path: /specific-cats/#music
      - title: Patents
        path: /specific-cats/#patents
      - title: Archival materials
        path: /specific-cats/#archival-materials
      - title: Datasets
        path: /specific-cats/#datasets
      - title: Social Media
        path: /specific-cats/#social-media

    - title: Title
      path: /title/
      items:
      - title: General
        path: /title/#general
      - title: Alternative titles
        path: /title/#alt-title

---

<article>
  {{ content }}
</article>
